@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root [data-theme='vintage'] {
	--theme-font-family-base: 'Atkinson Hyperlegible';
	--theme-font-family-heading: 'Atkinson Hyperlegible';
}

h1 {
	font-weight: 700;
}
